In [1]:
import pandas as pd
import numpy as np

# 1. Missing Values Handling

syntax>> df.fillna(value,inplace=False) #  Fill in entire dataframe
         df[column_name].fillna(value,inplace=False)  >#  Fill in a single column
    
# inplace parameter
inplace = False >> default >> Original df is not updated
inplace= True >> Original df gets updated

In [6]:
# Read the cars93 dataset
df = pd.read_csv('../assets/Cars93.csv')
df

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,NaN,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,NaN,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,NaN,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [7]:
# Check the count of missing values in each column (Identify missing values)
df.isna()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
89,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
92,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
df.isna().sum()

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags               37
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

# When to use which value for filling
mean >> continuous column 
mode >> categorical column

# Continuous column 
Continuous countable numbers eg.1,20,25,35,45,78

# Categorical column
eg. Male/Female,True/False,Yes/No,High/Medium/Low

In [9]:
# Fill the missing value
df['AirBags'].isna().sum()

37

In [10]:
df['AirBags'].mode()

0    Driver only
Name: AirBags, dtype: object

In [11]:
df['AirBags'].fillna('Driver only',inplace=True)
df

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,Driver only,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver only,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,Driver only,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,Driver only,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,Driver only,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [12]:
# Again check count of missing value in that column
df['AirBags'].isna().sum()

0

In [13]:
df.isna().sum()

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                0
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [14]:
df['Rear.seat.room'].mean()

27.82967032967033

In [15]:
df['Rear.seat.room'].fillna(27.829,inplace=True)

In [16]:
df['Rear.seat.room'].isna().sum()

0

# 2. Drop function

# default axis=0, defalt inplace value is False
syntax >> df.drop(row_name/row_list,axis = 0,inplace = False)       # Drop row

          df.drop(column_name/column_list,axis = 1,inplace = False)   # Drop column

In [17]:
# Read the 50_Startups.csv
df = pd.read_csv('../assets/50_Startups.csv')
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [18]:
# Drop the 1st index row
df.drop(1,inplace=True)   # axis=0 >> default

In [19]:
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [20]:
# Drop the row no-10,12,15,20
df.drop([10,12,15,20],inplace=True)

In [21]:
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
11  100671.96   91790.61  249744.55  California  144259.40
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [22]:
# Drop the RND column
df.drop('RND',axis=1,inplace=True)
df

        ADMIN        MKT       STATE     PROFIT
0   136897.80  471784.10    New York  192261.83
2   101145.55  407934.54     Florida  191050.39
3   118671.85  383199.62    New York  182901.99
4    91391.77  366168.42     Florida  166187.94
5    99814.71  362861.36    New York  156991.12
6   147198.87  127716.82  California  156122.51
7   145530.06  323876.68     Florida  155752.60
8   148718.95  311613.29    New York  152211.77
9   108679.17  304981.62  California  149759.96
11   91790.61  249744.55  California  144259.40
13  135495.07  252664.93  California  134307.35
14  156547.42  256512.92     Florida  132602.65
16  121597.55  264346.06  California  126992.93
17  145077.58  282574.31    New York  125370.37
18  114175.79  294919.57     Florida  124266.90
19  153514.11       0.00    New York  122776.86
21  153773.43  299737.29    New York  111313.02
22  122782.75  303319.26     Florida  110352.25
23  105751.03  304768.73     Florida  108733.99
24   99281.34  140574.81    New York  108552.04
25  139553.16  137962.62  California  107404.34
26  144135.98  134050.07     Florida  105733.54
27  127864.55  353183.81    New York  105008.31
28  182645.56  118148.20     Florida  103282.38
29  153032.06  107138.38    New York  101004.64
30  115641.28   91131.24     Florida   99937.59
31  152701.92   88218.23    New York   97483.56
32  129219.61   46085.25  California   97427.84
33  103057.49  214634.81     Florida   96778.92
34  157693.92  210797.67  California   96712.80
35   85047.44  205517.64    New York   96479.51
36  127056.21  201126.82     Florida   90708.19
37   51283.14  197029.42  California   89949.14
38   65947.93  185265.10    New York   81229.06
39   82982.09  174999.30  California   81005.76
40  118546.05  172795.67  California   78239.91
41   84710.77  164470.71     Florida   77798.83
42   96189.63  148001.11  California   71498.49
43  127382.30   35534.17    New York   69758.98
44  154806.14   28334.72  California   65200.33
45  124153.04    1903.93    New York   64926.08
46  115816.21  297114.46     Florida   49490.75
47  135426.92       0.00  California   42559.73
48   51743.15       0.00    New York   35673.41
49  116983.80   45173.06  California   14681.40

In [23]:
# Drop the MKT, STATE column
df.drop(['MKT','STATE'],axis=1,inplace=True)
df

        ADMIN     PROFIT
0   136897.80  192261.83
2   101145.55  191050.39
3   118671.85  182901.99
4    91391.77  166187.94
5    99814.71  156991.12
6   147198.87  156122.51
7   145530.06  155752.60
8   148718.95  152211.77
9   108679.17  149759.96
11   91790.61  144259.40
13  135495.07  134307.35
14  156547.42  132602.65
16  121597.55  126992.93
17  145077.58  125370.37
18  114175.79  124266.90
19  153514.11  122776.86
21  153773.43  111313.02
22  122782.75  110352.25
23  105751.03  108733.99
24   99281.34  108552.04
25  139553.16  107404.34
26  144135.98  105733.54
27  127864.55  105008.31
28  182645.56  103282.38
29  153032.06  101004.64
30  115641.28   99937.59
31  152701.92   97483.56
32  129219.61   97427.84
33  103057.49   96778.92
34  157693.92   96712.80
35   85047.44   96479.51
36  127056.21   90708.19
37   51283.14   89949.14
38   65947.93   81229.06
39   82982.09   81005.76
40  118546.05   78239.91
41   84710.77   77798.83
42   96189.63   71498.49
43  127382.30   69758.98
44  154806.14   65200.33
45  124153.04   64926.08
46  115816.21   49490.75
47  135426.92   42559.73
48   51743.15   35673.41
49  116983.80   14681.40

# 3. Sorting

In [ ]:
1. sort_values function

>> This function is used to sort the dataframe based on a column values
    ascending(lower-higher)(a-z)
    descending(higher-lower)(z-a)

syntax>> df.sort_values(column_name,ascending=True)  # Sort the dataframe in ascending order
         df.sort_values(column_list,ascending=True)
    
         df.sort_values(column_name,ascending=False) # Sort the dataframe in descending order

ascending = True  >> ascending order (default)
ascending = False >> descending order

In [25]:
# Read the 50_Startups.csv
df = pd.read_csv('../assets/50_Startups.csv')
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [26]:
# Sort the df based on RND column in ascending order
df.sort_values('RND',inplace=True)   # ascending = True >> Default

In [27]:
df

          RND      ADMIN        MKT       STATE     PROFIT
49       0.00  116983.80   45173.06  California   14681.40
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
43   15505.73  127382.30   35534.17    New York   69758.98
38   20229.59   65947.93  185265.10    New York   81229.06
44   22177.74  154806.14   28334.72  California   65200.33
42   23640.93   96189.63  148001.11  California   71498.49
41   27892.92   84710.77  164470.71     Florida   77798.83
36   28663.76  127056.21  201126.82     Florida   90708.19
40   28754.33  118546.05  172795.67  California   78239.91
39   38558.51   82982.09  174999.30  California   81005.76
37   44069.95   51283.14  197029.42  California   89949.14
35   46014.02   85047.44  205517.64    New York   96479.51
34   46426.07  157693.92  210797.67  California   96712.80
33   55493.95  103057.49  214634.81     Florida   96778.92
31   61136.38  152701.92   88218.23    New York   97483.56
30   61994.48  115641.28   91131.24     Florida   99937.59
32   63408.86  129219.61   46085.25  California   97427.84
25   64664.71  139553.16  137962.62  California  107404.34
29   65605.48  153032.06  107138.38    New York  101004.64
28   66051.52  182645.56  118148.20     Florida  103282.38
23   67532.53  105751.03  304768.73     Florida  108733.99
27   72107.60  127864.55  353183.81    New York  105008.31
22   73994.56  122782.75  303319.26     Florida  110352.25
26   75328.87  144135.98  134050.07     Florida  105733.54
20   76253.86  113867.30  298664.47  California  118474.03
24   77044.01   99281.34  140574.81    New York  108552.04
16   78013.11  121597.55  264346.06  California  126992.93
21   78389.47  153773.43  299737.29    New York  111313.02
19   86419.70  153514.11       0.00    New York  122776.86
18   91749.16  114175.79  294919.57     Florida  124266.90
13   91992.39  135495.07  252664.93  California  134307.35
12   93863.75  127320.38  249839.44     Florida  141585.52
17   94657.16  145077.58  282574.31    New York  125370.37
11  100671.96   91790.61  249744.55  California  144259.40
10  101913.08  110594.11  229160.95     Florida  146121.95
15  114523.61  122616.84  261776.23    New York  129917.04
14  119943.24  156547.42  256512.92     Florida  132602.65
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
7   130298.13  145530.06  323876.68     Florida  155752.60
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
4   142107.34   91391.77  366168.42     Florida  166187.94
3   144372.41  118671.85  383199.62    New York  182901.99
2   153441.51  101145.55  407934.54     Florida  191050.39
1   162597.70  151377.59  443898.53  California  191792.06
0   165349.20  136897.80  471784.10    New York  192261.83

In [28]:
# Reset the index
df.index = range(0,50)

In [29]:
df

          RND      ADMIN        MKT       STATE     PROFIT
0        0.00  116983.80   45173.06  California   14681.40
1        0.00  135426.92       0.00  California   42559.73
2      542.05   51743.15       0.00    New York   35673.41
3     1000.23  124153.04    1903.93    New York   64926.08
4     1315.46  115816.21  297114.46     Florida   49490.75
5    15505.73  127382.30   35534.17    New York   69758.98
6    20229.59   65947.93  185265.10    New York   81229.06
7    22177.74  154806.14   28334.72  California   65200.33
8    23640.93   96189.63  148001.11  California   71498.49
9    27892.92   84710.77  164470.71     Florida   77798.83
10   28663.76  127056.21  201126.82     Florida   90708.19
11   28754.33  118546.05  172795.67  California   78239.91
12   38558.51   82982.09  174999.30  California   81005.76
13   44069.95   51283.14  197029.42  California   89949.14
14   46014.02   85047.44  205517.64    New York   96479.51
15   46426.07  157693.92  210797.67  California   96712.80
16   55493.95  103057.49  214634.81     Florida   96778.92
17   61136.38  152701.92   88218.23    New York   97483.56
18   61994.48  115641.28   91131.24     Florida   99937.59
19   63408.86  129219.61   46085.25  California   97427.84
20   64664.71  139553.16  137962.62  California  107404.34
21   65605.48  153032.06  107138.38    New York  101004.64
22   66051.52  182645.56  118148.20     Florida  103282.38
23   67532.53  105751.03  304768.73     Florida  108733.99
24   72107.60  127864.55  353183.81    New York  105008.31
25   73994.56  122782.75  303319.26     Florida  110352.25
26   75328.87  144135.98  134050.07     Florida  105733.54
27   76253.86  113867.30  298664.47  California  118474.03
28   77044.01   99281.34  140574.81    New York  108552.04
29   78013.11  121597.55  264346.06  California  126992.93
30   78389.47  153773.43  299737.29    New York  111313.02
31   86419.70  153514.11       0.00    New York  122776.86
32   91749.16  114175.79  294919.57     Florida  124266.90
33   91992.39  135495.07  252664.93  California  134307.35
34   93863.75  127320.38  249839.44     Florida  141585.52
35   94657.16  145077.58  282574.31    New York  125370.37
36  100671.96   91790.61  249744.55  California  144259.40
37  101913.08  110594.11  229160.95     Florida  146121.95
38  114523.61  122616.84  261776.23    New York  129917.04
39  119943.24  156547.42  256512.92     Florida  132602.65
40  120542.52  148718.95  311613.29    New York  152211.77
41  123334.88  108679.17  304981.62  California  149759.96
42  130298.13  145530.06  323876.68     Florida  155752.60
43  131876.90   99814.71  362861.36    New York  156991.12
44  134615.46  147198.87  127716.82  California  156122.51
45  142107.34   91391.77  366168.42     Florida  166187.94
46  144372.41  118671.85  383199.62    New York  182901.99
47  153441.51  101145.55  407934.54     Florida  191050.39
48  162597.70  151377.59  443898.53  California  191792.06
49  165349.20  136897.80  471784.10    New York  192261.83

In [30]:
# Sort the df based on MKT column in descending order
df.sort_values('MKT',ascending=False,inplace=True)
df

          RND      ADMIN        MKT       STATE     PROFIT
49  165349.20  136897.80  471784.10    New York  192261.83
48  162597.70  151377.59  443898.53  California  191792.06
47  153441.51  101145.55  407934.54     Florida  191050.39
46  144372.41  118671.85  383199.62    New York  182901.99
45  142107.34   91391.77  366168.42     Florida  166187.94
43  131876.90   99814.71  362861.36    New York  156991.12
24   72107.60  127864.55  353183.81    New York  105008.31
42  130298.13  145530.06  323876.68     Florida  155752.60
40  120542.52  148718.95  311613.29    New York  152211.77
41  123334.88  108679.17  304981.62  California  149759.96
23   67532.53  105751.03  304768.73     Florida  108733.99
25   73994.56  122782.75  303319.26     Florida  110352.25
30   78389.47  153773.43  299737.29    New York  111313.02
27   76253.86  113867.30  298664.47  California  118474.03
4     1315.46  115816.21  297114.46     Florida   49490.75
32   91749.16  114175.79  294919.57     Florida  124266.90
35   94657.16  145077.58  282574.31    New York  125370.37
29   78013.11  121597.55  264346.06  California  126992.93
38  114523.61  122616.84  261776.23    New York  129917.04
39  119943.24  156547.42  256512.92     Florida  132602.65
33   91992.39  135495.07  252664.93  California  134307.35
34   93863.75  127320.38  249839.44     Florida  141585.52
36  100671.96   91790.61  249744.55  California  144259.40
37  101913.08  110594.11  229160.95     Florida  146121.95
16   55493.95  103057.49  214634.81     Florida   96778.92
15   46426.07  157693.92  210797.67  California   96712.80
14   46014.02   85047.44  205517.64    New York   96479.51
10   28663.76  127056.21  201126.82     Florida   90708.19
13   44069.95   51283.14  197029.42  California   89949.14
6    20229.59   65947.93  185265.10    New York   81229.06
12   38558.51   82982.09  174999.30  California   81005.76
11   28754.33  118546.05  172795.67  California   78239.91
9    27892.92   84710.77  164470.71     Florida   77798.83
8    23640.93   96189.63  148001.11  California   71498.49
28   77044.01   99281.34  140574.81    New York  108552.04
20   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
44  134615.46  147198.87  127716.82  California  156122.51
22   66051.52  182645.56  118148.20     Florida  103282.38
21   65605.48  153032.06  107138.38    New York  101004.64
18   61994.48  115641.28   91131.24     Florida   99937.59
17   61136.38  152701.92   88218.23    New York   97483.56
19   63408.86  129219.61   46085.25  California   97427.84
0        0.00  116983.80   45173.06  California   14681.40
5    15505.73  127382.30   35534.17    New York   69758.98
7    22177.74  154806.14   28334.72  California   65200.33
3     1000.23  124153.04    1903.93    New York   64926.08
1        0.00  135426.92       0.00  California   42559.73
2      542.05   51743.15       0.00    New York   35673.41
31   86419.70  153514.11       0.00    New York  122776.86

In [31]:
df.sort_values('STATE',inplace=True)
df

          RND      ADMIN        MKT       STATE     PROFIT
13   44069.95   51283.14  197029.42  California   89949.14
33   91992.39  135495.07  252664.93  California  134307.35
20   64664.71  139553.16  137962.62  California  107404.34
29   78013.11  121597.55  264346.06  California  126992.93
19   63408.86  129219.61   46085.25  California   97427.84
15   46426.07  157693.92  210797.67  California   96712.80
27   76253.86  113867.30  298664.47  California  118474.03
0        0.00  116983.80   45173.06  California   14681.40
41  123334.88  108679.17  304981.62  California  149759.96
36  100671.96   91790.61  249744.55  California  144259.40
11   28754.33  118546.05  172795.67  California   78239.91
7    22177.74  154806.14   28334.72  California   65200.33
8    23640.93   96189.63  148001.11  California   71498.49
1        0.00  135426.92       0.00  California   42559.73
44  134615.46  147198.87  127716.82  California  156122.51
48  162597.70  151377.59  443898.53  California  191792.06
12   38558.51   82982.09  174999.30  California   81005.76
22   66051.52  182645.56  118148.20     Florida  103282.38
37  101913.08  110594.11  229160.95     Florida  146121.95
10   28663.76  127056.21  201126.82     Florida   90708.19
9    27892.92   84710.77  164470.71     Florida   77798.83
18   61994.48  115641.28   91131.24     Florida   99937.59
16   55493.95  103057.49  214634.81     Florida   96778.92
26   75328.87  144135.98  134050.07     Florida  105733.54
39  119943.24  156547.42  256512.92     Florida  132602.65
32   91749.16  114175.79  294919.57     Florida  124266.90
4     1315.46  115816.21  297114.46     Florida   49490.75
25   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
42  130298.13  145530.06  323876.68     Florida  155752.60
45  142107.34   91391.77  366168.42     Florida  166187.94
47  153441.51  101145.55  407934.54     Florida  191050.39
34   93863.75  127320.38  249839.44     Florida  141585.52
21   65605.48  153032.06  107138.38    New York  101004.64
5    15505.73  127382.30   35534.17    New York   69758.98
3     1000.23  124153.04    1903.93    New York   64926.08
17   61136.38  152701.92   88218.23    New York   97483.56
49  165349.20  136897.80  471784.10    New York  192261.83
6    20229.59   65947.93  185265.10    New York   81229.06
14   46014.02   85047.44  205517.64    New York   96479.51
2      542.05   51743.15       0.00    New York   35673.41
38  114523.61  122616.84  261776.23    New York  129917.04
35   94657.16  145077.58  282574.31    New York  125370.37
30   78389.47  153773.43  299737.29    New York  111313.02
40  120542.52  148718.95  311613.29    New York  152211.77
24   72107.60  127864.55  353183.81    New York  105008.31
43  131876.90   99814.71  362861.36    New York  156991.12
46  144372.41  118671.85  383199.62    New York  182901.99
28   77044.01   99281.34  140574.81    New York  108552.04
31   86419.70  153514.11       0.00    New York  122776.86

In [32]:
# Sort the df based on STATE,PROFIT column in ascending order
df.sort_values(['STATE','PROFIT'],inplace=True)
df

          RND      ADMIN        MKT       STATE     PROFIT
0        0.00  116983.80   45173.06  California   14681.40
1        0.00  135426.92       0.00  California   42559.73
7    22177.74  154806.14   28334.72  California   65200.33
8    23640.93   96189.63  148001.11  California   71498.49
11   28754.33  118546.05  172795.67  California   78239.91
12   38558.51   82982.09  174999.30  California   81005.76
13   44069.95   51283.14  197029.42  California   89949.14
15   46426.07  157693.92  210797.67  California   96712.80
19   63408.86  129219.61   46085.25  California   97427.84
20   64664.71  139553.16  137962.62  California  107404.34
27   76253.86  113867.30  298664.47  California  118474.03
29   78013.11  121597.55  264346.06  California  126992.93
33   91992.39  135495.07  252664.93  California  134307.35
36  100671.96   91790.61  249744.55  California  144259.40
41  123334.88  108679.17  304981.62  California  149759.96
44  134615.46  147198.87  127716.82  California  156122.51
48  162597.70  151377.59  443898.53  California  191792.06
4     1315.46  115816.21  297114.46     Florida   49490.75
9    27892.92   84710.77  164470.71     Florida   77798.83
10   28663.76  127056.21  201126.82     Florida   90708.19
16   55493.95  103057.49  214634.81     Florida   96778.92
18   61994.48  115641.28   91131.24     Florida   99937.59
22   66051.52  182645.56  118148.20     Florida  103282.38
26   75328.87  144135.98  134050.07     Florida  105733.54
23   67532.53  105751.03  304768.73     Florida  108733.99
25   73994.56  122782.75  303319.26     Florida  110352.25
32   91749.16  114175.79  294919.57     Florida  124266.90
39  119943.24  156547.42  256512.92     Florida  132602.65
34   93863.75  127320.38  249839.44     Florida  141585.52
37  101913.08  110594.11  229160.95     Florida  146121.95
42  130298.13  145530.06  323876.68     Florida  155752.60
45  142107.34   91391.77  366168.42     Florida  166187.94
47  153441.51  101145.55  407934.54     Florida  191050.39
2      542.05   51743.15       0.00    New York   35673.41
3     1000.23  124153.04    1903.93    New York   64926.08
5    15505.73  127382.30   35534.17    New York   69758.98
6    20229.59   65947.93  185265.10    New York   81229.06
14   46014.02   85047.44  205517.64    New York   96479.51
17   61136.38  152701.92   88218.23    New York   97483.56
21   65605.48  153032.06  107138.38    New York  101004.64
24   72107.60  127864.55  353183.81    New York  105008.31
28   77044.01   99281.34  140574.81    New York  108552.04
30   78389.47  153773.43  299737.29    New York  111313.02
31   86419.70  153514.11       0.00    New York  122776.86
35   94657.16  145077.58  282574.31    New York  125370.37
38  114523.61  122616.84  261776.23    New York  129917.04
40  120542.52  148718.95  311613.29    New York  152211.77
43  131876.90   99814.71  362861.36    New York  156991.12
46  144372.41  118671.85  383199.62    New York  182901.99
49  165349.20  136897.80  471784.10    New York  192261.83

In [33]:
# Sort the df based on STATE,PROFIT column in descending order
df.sort_values(['STATE','PROFIT'],ascending=False,inplace=True)
df

          RND      ADMIN        MKT       STATE     PROFIT
49  165349.20  136897.80  471784.10    New York  192261.83
46  144372.41  118671.85  383199.62    New York  182901.99
43  131876.90   99814.71  362861.36    New York  156991.12
40  120542.52  148718.95  311613.29    New York  152211.77
38  114523.61  122616.84  261776.23    New York  129917.04
35   94657.16  145077.58  282574.31    New York  125370.37
31   86419.70  153514.11       0.00    New York  122776.86
30   78389.47  153773.43  299737.29    New York  111313.02
28   77044.01   99281.34  140574.81    New York  108552.04
24   72107.60  127864.55  353183.81    New York  105008.31
21   65605.48  153032.06  107138.38    New York  101004.64
17   61136.38  152701.92   88218.23    New York   97483.56
14   46014.02   85047.44  205517.64    New York   96479.51
6    20229.59   65947.93  185265.10    New York   81229.06
5    15505.73  127382.30   35534.17    New York   69758.98
3     1000.23  124153.04    1903.93    New York   64926.08
2      542.05   51743.15       0.00    New York   35673.41
47  153441.51  101145.55  407934.54     Florida  191050.39
45  142107.34   91391.77  366168.42     Florida  166187.94
42  130298.13  145530.06  323876.68     Florida  155752.60
37  101913.08  110594.11  229160.95     Florida  146121.95
34   93863.75  127320.38  249839.44     Florida  141585.52
39  119943.24  156547.42  256512.92     Florida  132602.65
32   91749.16  114175.79  294919.57     Florida  124266.90
25   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
26   75328.87  144135.98  134050.07     Florida  105733.54
22   66051.52  182645.56  118148.20     Florida  103282.38
18   61994.48  115641.28   91131.24     Florida   99937.59
16   55493.95  103057.49  214634.81     Florida   96778.92
10   28663.76  127056.21  201126.82     Florida   90708.19
9    27892.92   84710.77  164470.71     Florida   77798.83
4     1315.46  115816.21  297114.46     Florida   49490.75
48  162597.70  151377.59  443898.53  California  191792.06
44  134615.46  147198.87  127716.82  California  156122.51
41  123334.88  108679.17  304981.62  California  149759.96
36  100671.96   91790.61  249744.55  California  144259.40
33   91992.39  135495.07  252664.93  California  134307.35
29   78013.11  121597.55  264346.06  California  126992.93
27   76253.86  113867.30  298664.47  California  118474.03
20   64664.71  139553.16  137962.62  California  107404.34
19   63408.86  129219.61   46085.25  California   97427.84
15   46426.07  157693.92  210797.67  California   96712.80
13   44069.95   51283.14  197029.42  California   89949.14
12   38558.51   82982.09  174999.30  California   81005.76
11   28754.33  118546.05  172795.67  California   78239.91
8    23640.93   96189.63  148001.11  California   71498.49
7    22177.74  154806.14   28334.72  California   65200.33
1        0.00  135426.92       0.00  California   42559.73
0        0.00  116983.80   45173.06  California   14681.40